body {
  margin: 10px;
  background: white;
}

div {
  margin: 10px;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background-color: transparent;

}

.table tbody tr td {
    border-top: 1px solid black;
    padding: 8px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table tfoot tr td {
    border-top: 3px solid black;
    padding: 8px;
}

.table-zebra tbody tr:nth-child(odd) td {
    background-color: gray;
}

.header h2, .sub-header h3 {
    margin-bottom:0;
}

.header span, .sub-header span {
    font-size: small;
}

.topcoat-list__header {
  clear: both;
}

.topcoat-list {
  clear: both;
}

.topcoat-list__item {
  float: left;
  border: none;
}

