* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html, body {
  min-height: 800px;
  min-width: 850px;
  font-size: 13.5px;
  height: 100%;
  color: #4d5258;
}

small {
  font-size: 11.5px;
}


/* For demo purposes */

#playground {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 300px;
  margin:-150px 0 0 -350px;
}



/* Tabbed Headers TODO: Bundle Open Sans */

h1 {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Open Sans", sans-serif;
}


/* Regular Headers */

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  margin: 4px;
  color: #4d5258;
  font-size: 27.5px;
}

h4 {
  font-family: "Open Sans", sans-serif;
}


/* Links */

a {
  color: #0099d3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

fieldset {
  border: none;
}

/* Text Field */

input[type="text"],
input[type="password"] {
  margin: 4px;
  color: #4d5258;
  padding: 3px 9px;
  min-width: 200px;
  height: 26px;
  border: 1px #b6b6b6 solid;
  border-radius: 2px;
  background-image: url("img/input-background.png");
  background-position: top left;
  background-repeat: repeat-x;
}

input[type="text"]:enabled:hover,
input[type="password"]:enabled:hover {
  border-color: #62afdb;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #62afdb;
  box-shadow: #62afdb 0 0 3.5px;
}

input[type="text"]:disabled,
input[type="password"]:disabled {
  background-image: none;
  background-color: #f8f8f8;
}

::-webkit-input-placeholder {
   font-style: italic;
   color: #999;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
   color: #999;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
   color: #999;
}

:-ms-input-placeholder {
   font-style: italic;
   color: #999;
}


/* Text Field Error State */

input[type="text"].error,
input[type="password"].error {
  border-color: #e30000 !important;
}


input[type="text"].error:focus,
input[type="password"].error:focus {
  box-shadow: #f18080 0 0 3.5px;
}


/* Default Button */

button + button {
  margin-left: 0;
}

button {
  border-color: #21799e;
  background-image: linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.0, #fafafa),
    color-stop(1,0, #ededed)
  );
  color: #fff;
  padding: 4px 14px;
  border: 1px #bbb solid;
  border-radius: 2px;
  color: #4d5258;
  font-weight: bold;
  min-width: 45px;
  font-size: 12px;
  letter-spacing: 0.4px;
  cursor: pointer;
  margin: 4px;
}

button:hover,
button:focus {
  background-image: none !important;
  background-color: #eee;
}

button:disabled {
  border-color: #cdcdcd !important;
  background-color: #fff !important;
  background-image: none !important;
  color: #bbb !important;
  font-weight: normal;
  cursor: default;
}

button:enabled:active {
  background-color: #eee;
  box-shadow: inset 0 0 5px 3px #c6c6c6;
}


/* Primary Button */

button.primary {
  border-color: #21799e;
  background-image: linear-gradient(top, #00A9EC 0%, #009BD3 100%);
  background-image: -o-linear-gradient(top, #00A9EC 0%, #009BD3 100%);
  background-image: -moz-linear-gradient(top, #00A9EC 0%, #009BD3 100%);
  background-image: -webkit-linear-gradient(top, #00A9EC 0%, #009BD3 100%);
  background-image: -ms-linear-gradient(top, #00A9EC 0%, #009BD3 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.0, #00A9EC),
    color-stop(1,0, #009BD3)
  );
  color: #fff;
}

button.primary:hover,
button.primary:focus {
  background-color: #009BD3;
}

button.primary:enabled:active {
  background-color: #0099d4;
  box-shadow: inset 0 0 5px 3px #0074ae;
}


/* Destructive Button */

button.destructive {
  border-color: #350000;
  background-image: linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -o-linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -moz-linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -webkit-linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -ms-linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.0, #d90000),
    color-stop(1,0, #ad0101)
  );
  color: #fff;
}

button.destructive:hover,
button.destructive:focus {
  background-color: #ad0101;
}

button.destructive:enabled:active {
  background-color: #ad0101;
  box-shadow: inset 0 0 5px 3px #750101;
}


/* Checkboxes and Radios */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin: 4px;
  padding: 0 24px;
  background-repeat: no-repeat;
  background-position: center left;
}

input[type="checkbox"] + label {
  background-image: url('img/checkbutton-background.png');
}

input[type="checkbox"]:hover + label {
  background-image: url('img/checkbutton-background-hover.png');
}

input[type="checkbox"]:checked + label {
  background-image: url('img/checkbutton-background-selected.png');
}

input[type="checkbox"]:disabled + label {
  background-image: url('img/checkbutton-background-disabled.png');
}

input[type="checkbox"]:checked:disabled + label {
  background-image: url('img/checkbutton-background-selected-disabled.png');
}

input[type="radio"] + label {
  background-image: url('img/radiobutton-background.png');
}

input[type="radio"]:hover + label {
  background-image: url('img/radiobutton-background-hover.png');
}

input[type="radio"]:checked + label {
  background-image: url('img/radiobutton-background-selected.png');
}

input[type="radio"]:disabled + label {
  background-image: url('img/radiobutton-background-disabled.png');
}

input[type="radio"]:checked:disabled + label {
  background-image: url('img/radiobutton-background-selected-disabled.png');
}

#rcue-login-screen {
  width: 100%;
  min-width: 850px;
  height: 100%;
  background-color: #222;
  background-image: url("img/login-screen-background.jpg");
  background-position: top left;
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
}

@media (min-width: 1280px) {
    #rcue-login-screen {
      background-size: 100% auto;
    }
}

#rcue-login-screen img#logo {
  position: absolute;
  top: 50px;
  right: 64px;
}

#rcue-login-screen form {
  position: absolute;
  bottom: 15%;
  padding-left: 100px;
  width: 100%;
  min-width: 850px;
  border-top: 1px rgba(255, 255, 255, 0.05) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
  background-color: rgba(0, 0, 0, 0.3);
}

#rcue-login-screen form aside {
  float: left;
  margin: 40px;
}

#rcue-login-screen form aside p {
  margin-bottom: 8px;
}

#rcue-login-screen fieldset {
  float: left;
  margin: 30px 0;
  padding: 10px;
  padding-right: 44px;
  width: 430px;
  border-right: 1px rgba(255, 255, 255, 0.15) solid;
}

#rcue-login-screen fieldset legend {
  position: absolute;
  top: -54px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 200;
  font-size: 22px;
  font-family: "Overpass", sans-serif; /* TODO: Ship the font */
}

#rcue-login-screen fieldset legend strong {
  margin-right: 4px;
  font-weight: 700;
}

#rcue-login-screen fieldset label {
  display: inline-block;
  width: 85px;
}


#rcue-login-screen fieldset input[type="text"],
#rcue-login-screen fieldset input[type="password"] {
  margin: 4px 0;
  width: 282px;
}

#rcue-login-screen fieldset button {
  float: right;
  margin-top: 16px;
}

#rcue-login-screen fieldset small {
  line-height: 22px;
  margin-left: 87px;
  margin-top: 10px;
  display: block;
  float: left;
}
