.lo-main-pane {
    overflow: visible;
}

.panel-heading h3 {
    display:inline;
}

.panel-heading .dropdown {
    display:inline;
    float:right;
}

.alert:before {
    font-size: 20px;
    position: absolute;
    left: 7px;
    top: 7px;

    font-family: 'PatternFlyIcons-webfont';
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.alert-success:before {
    color: #57a81c;
    content: "\e602";
}

.alert-danger:before {
    color: #fff;
    content: "\e608";
    z-index: 2;
}

.alert-danger div:before {
    color: #c90813;
    content: "\e609";
    z-index: 1;
    position: absolute;
    left: 7px;
    top: 12px;
    font-family: 'PatternFlyIcons-webfont';
    line-height: 1;
    font-size: 20px;
}

/* Fixes */

a:hover {
    color: #00A9EC;
}

.btn-primary {
    border-color: #00618A;
}

.btn-primary:hover,
.btn-primary:active {
    background: none;
    border-color: #00618A;
    background-color: #00A9EC;
}


/* Tip panel */

.ups-tip-panel {
    border: 1px solid #fddbb1;
    background-color: #fff5dd;
    padding: 12px;
}

.ups-tip-panel h2 {
    width: 100%;
    margin-top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #f67200;
    margin-bottom: 6px;
    display: inline-block;
    border-bottom: 1px solid #fddbb1;
    padding-bottom: 4px;
}

.ups-tip-panel a.dropdown-toggle {
    color: inherit;
}

div.ups-tip-panel-body .dropdown a {
    margin-left: 0;
}

a.ups-tip-panel-link {
    margin-right: 12px;
    font-weight: normal;
    color: inherit;
    text-decoration: underline;
}

.ups-tip-panel .dropdown {
    color: inherit;
}

.ups-tip-panel-body {
    padding-left: 100px;
    width: 100%;
    float: right;
}

.ups-tip-panel-illustration {
    position: absolute;
    height: 100px;
    width: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.ups-tip-panel table tr td:first-child {
    padding-right: 12px;
    text-align: right;
}

.ups-tip-panel table tr td:last-child {
    font-weight: bold;
}


.ups-code-block {
    font-family: monospace;
    overflow: scroll;
    white-space: pre;
    width: 100%;
    background-color: #555;
    font-size: 12px;
    line-height: 15px;
    border-left: 2px solid #111;
    color: #eee;
}


.ups-panel-details table tr td:first-child {
    padding-right: 12px;
    text-align: right;
}

.ups-panel-details table tr td:last-child {
    font-weight: bold;
}

.ups-panel-details h3 {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 6px;
}


.ups-panel-variants .panel-heading {
    background-repeat: no-repeat;
    background-position: 24px center;
    padding-left: 64px;
}

.ups-panel-variants .panel-heading .pull-right {
    margin-top: 12px;
    margin-right: 34px;
}

.ups-panel-variants .panel-heading strong {
    font-size: 14px;
}

.ups-panel-variants .panel-heading h2 {
    margin-top: 10px;
}

.ups-panel-variants > ul > li {
    padding: 8px 24px;
}

.ups-panel-variants .dropdown-toggle {
    margin-left: 12px;
}

.ups-panel-variants ul > li > a:first-child {
    width: 150px;
    max-width: 200px;
    padding-right: 12px;
    display: inline-block;
}

.ups-panel-installations {
    padding: 24px;
}

.ups-panel-installations input[type="search"] {
    border-radius: 14px;
}

.ups-toggle-box {
    padding: 24px;
}

.ups-installations {
    width: 100%;
}

.ups-installations tr.collapse.in {
    display: table-row;
}

.ups-installation-detail {
    width: 100%;
    margin-left: 30px;
}

.ups-installation-detail td {
    padding-left: 5px;
}

.ups-installation-detail td:first-child {
    text-align: right;
    color: #bbb;
}

.topcoat-switch {
    z-index: 2;
    position: relative;
    display: inline-block;
    padding: 0 1.25rem;
    border-radius: 26px;
    border: 1px solid #a5a8a8;
    overflow: hidden;
    width: 8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.topcoat-switch__input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: 0;
    padding: 0;
    border: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.1)";
    filter: alpha(opacity=0.1);
    opacity: 0.001;
}
.topcoat-switch__toggle,
.button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    cursor: default;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.topcoat-switch__toggle {
    line-height: 3rem;
    height: 3rem;
    width: 4rem;
    border-radius: 25px;
    color: #454545;
    text-shadow: 0 1px #666;
    background-color: #fff;
    border: 1px solid #a5a8a8;
    margin-left: -1.3rem;
    margin-bottom: -1px;
    margin-top: -1px;
    -webkit-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    -webkit-transition: margin-left 0.05s ease-in-out;
    -moz-transition: margin-left 0.05s ease-in-out;
    -o-transition: margin-left 0.05s ease-in-out;
    -ms-transition: margin-left 0.05s ease-in-out;
    transition: margin-left 0.05s ease-in-out;
}
.topcoat-switch__input:checked + .topcoat-switch__toggle {
    margin-left: 2.7rem;
}
.topcoat-switch__toggle:before,
.topcoat-switch__toggle:after {
    position: absolute;
    width: 5rem;
    z-index: -1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.topcoat-switch__toggle:before {
    content: 'ON';
    color: #fff;
    background-color: #00A9EC;
    border-radius: 0;
    top: -1px;
    right: 3rem;
    padding-left: 1.5rem;
}
.topcoat-switch__toggle:after {
    content: 'OFF';
    color: #fff;
    background-color: #d3d7d7;
    top: -1px;
    left: 3rem;
    padding-left: 1.5rem;
}

ul.ups-pagination.pagination>.active>a,
ul.ups-pagination.pagination>.active>span,
ul.ups-pagination.pagination>.active>a:hover,
ul.ups-pagination.pagination>.active>span:hover,
ul.ups-pagination.pagination>.active>a:focus,
ul.ups-pagination.pagination>.active>span:focus {
    background: #00A9EC none;
    color: #fff;
    box-shadow: none;
}

ul.ups-pagination.pagination>.disabled>span,
ul.ups-pagination.pagination>.disabled>span:hover,
ul.ups-pagination.pagination>.disabled>span:focus,
ul.ups-pagination.pagination>.disabled>a,
ul.ups-pagination.pagination>.disabled>a:hover,
ul.ups-pagination.pagination>.disabled>a:focus {
    background: #fff none;
    color: #333;
}