local-config.json

*.class

# Package Files #
*.jar
*.war
*.ear

#Build targets
target/
/target
*/target

#Maven release files
*.releaseBackup
release.properties

.idea/
*.class
*.iml
.classpath
.project
.settings/
.metadata

# ln -s links - Used to overcome eclipse bug (Ignore .project project name)
unifiedpush-jaxrs/*
unifiedpush-service/*
unifiedpush-admin-ui/*
unifiedpush-dist/*

.DS_Store
admin-ui/node
