local-config.json

*.class

# Package Files #
*.jar
*.war
*.ear

#Build targets
target/
/target
*/target

#Maven release files
*.releaseBackup
release.properties

.idea/
*.class
*.iml
.classpath
.project
.settings/

.DS_Store
