<ups-navigation current="applications"></ups-navigation>

<div class="col-md-10 lo-main-pane ng-scope">
    <div class="row">
        <div class="lo-content-area col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Applications</a></li>
                <li class="active">{{ application.name }}</li>
            </ol>

            <div>
                <ups-alerts />
            </div>

            <h3>Send notifications to"{{ application.name }}"</h3>
            <div class="panel lo-panel ">
                <div class="panel-heading" style="background-image: url('img/platform-android.png');">
                    <div class="pull-left"><h2>Message</h2></div>

                    <div style="clear: both;"></div>
                </div>


            </div>


        </div>
    </div>
</div>