<ups-navigation current="applications"></ups-navigation>

<div class="col-md-10 lo-main-pane ng-scope">
    <div class="row">
        <div class="lo-content-area col-md-12">
            <ol class="breadcrumb">
                <li class="active">Applications</li>
                <li class="active">Application name</li>
            </ol>
            <div>
                <a href="#/applications/admin/create-storage" class="btn btn-primary btn-lg" type="button">Add Variant...</a>
            </div>
        </div>
    </div>
</div>