<aside class="lo-sidebar col-md-2 fixed clearfix ng-isolate-scope"
       data-lo-current="storage" data-lo-apps="applications" data-lo-app="curApp">

    <nav class="navbar navbar-vertical" role="navigation">
        <div class="bs-sidebar">
            <ul>
                <li ng-class="{active: loCurrent == 'dashboard'}" class="dashboard"><a
                        href="#/applications/admin/dashboard"><i class="fa fa-tachometer fa-3x"></i>Stats</a></li>
                <li ng-class="{active: loCurrent == 'push'}" class="push"><a href="#"><i
                        class="fa fa-mobile fa-4x"></i>Applications</a></li>
            </ul>
        </div>
    </nav>
</aside>

<div class="col-md-10 lo-main-pane ng-scope">
    <div class="row">
        <div class="lo-content-area col-md-12">
            <ol class="breadcrumb">
                <li class="active">Applications</li>
            </ol>
            <div>
                <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#CreateApplication">Create Application...</button>
                <div class="modal fade" id="CreateApplication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <span class="pficon pficon-close"></span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Create Application</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="textInput">Name</label>
                                        <div class="col-sm-5">
                                            <input type="text" id="textInput" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="textInput">Description</label>
                                        <div class="col-sm-5">
                                            <input type="text" id="textInput" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Applications<span class="ng-binding"> ({{ applications.length }}) </span></h2>

            <div class="panel panel-default" ng-repeat="application in applications">
                <div class="panel-heading">
                    <a href=""><h3 class="panel-title">{{ application.name }}</h3></a>
                </div>
                <div class="panel-body">
                    <p>{{ application.description }}</p>
                    <p ng-hide="application.description.length">No description</p>
                    <strong>
                        {{ application.androidVariants.length + application.simplePushVariants.length + application.iosvariants.length }}
                    </strong> variants
                </div>
            </div>
        </div>
    </div>
</div>
