<aside class="lo-sidebar col-md-2 fixed clearfix ng-isolate-scope"
       data-lo-current="storage" data-lo-apps="applications" data-lo-app="curApp">

    <nav class="navbar navbar-vertical" role="navigation">
        <div class="bs-sidebar">
            <ul>
                <li ng-class="{active: loCurrent == 'dashboard'}" class="dashboard"><a
                        href="#/applications/admin/dashboard"><i class="fa fa-tachometer fa-3x"></i>Stats</a></li>
                <li ng-class="{active: loCurrent == 'push'}" class="push"><a href="#"><i
                        class="fa fa-mobile fa-4x"></i>Applications</a></li>
            </ul>
        </div>
    </nav>
</aside>

<div class="col-md-10 lo-main-pane ng-scope">
    <div class="row">
        <div class="lo-content-area col-md-12">
            <ol class="breadcrumb">
                <li class="active">Applications</li>
            </ol>
            <div class="buttonrow">
                <button class="btn btn-default btn-lg" type="button" ng-click="open()">Create Application...</button>
            </div>
            <h2>Applications<span class="ng-binding"> ({{ applications.length }}) </span></h2>

            <div class="panel panel-default" ng-repeat="application in applications">
                <div class="panel-heading">
                    <a href=""><h3 class="panel-title">{{ application.name }}</h3></a>
                </div>
                <div class="panel-body">
                    <p>{{ application.description }}</p>
                    <p ng-hide="application.description.length">No description</p>
                    <strong>
                        {{ application.androidVariants.length + application.simplePushVariants.length + application.iosvariants.length }}
                    </strong> variants
                </div>
            </div>
        </div>
    </div>
</div>
