<ups-navigation current="applications"></ups-navigation>

<div class="col-md-10 lo-main-pane ng-scope">
    <div class="row">
        <div class="lo-content-area col-md-12">
            <ol class="breadcrumb">
                <li class="active">Applications</li>
            </ol>
            <div class="text-right">
                <button class="btn btn-default btn-lg" type="button" ng-click="open()">Create Application...</button>
            </div>
            <h2>Applications<span class="ng-binding"> ({{ applications.length }}) </span></h2>

            <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>

            <div class="panel panel-default" ng-repeat="application in applications">
                <div class="panel-heading">
                    <a href="#/detail/{{application.id}}"><h3 class="panel-title">{{ application.name }}</h3></a>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="edit(application)">Edit...</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="remove(application)">Remove...</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <p>{{ application.description }}</p>
                    <p ng-hide="application.description.length">No description</p>
                    <strong>
                        {{ application.androidVariants.length + application.simplePushVariants.length + application.iosvariants.length }}
                    </strong> variants
                </div>
            </div>
        </div>
    </div>
</div>
