<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
            <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title">Filters</h4>
    </div>
    <div class="modal-body">
    <p style="opacity: 0.5">You can provide multiple values at a time by separating them by commas.</p>
    <br>
        <form name="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Aliases</label>

                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="criteria.alias" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Device Types</label>

                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="criteria.deviceType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >Categories</label>

                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="criteria.categories">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ok(application)" ng-disabled="form.$invalid">Change</button>
    </div>
</div>