<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
            <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title">Select Variants for {{application.name}}</h4>
    </div>
    <div class="modal-body">
        <p>Android variants : </p>
        <ul class="list-group ">
        <li class="list-group-item" ng-repeat="androidvariant in application.androidVariants">
            <label>
                <input type="checkbox"  ng-checked="variantSelection.indexOf(androidvariant.variantID) > -1" ng-click="toggleSelection(androidvariant)">
                {{androidvariant.name}}
            </label>
        </li>
        </ul>
        <p>iOS variants : </p>
        <ul class="list-group ">
            <li class="list-group-item" ng-repeat="iosvariant in application.iosvariants">
                <label>
                    <input type="checkbox" ng-checked="variantSelection.indexOf(iosvariant.variantID) > -1" ng-click="toggleSelection(iosvariant)">
                    {{iosvariant.name}}
                </label>
            </li>
        </ul>
        <p>SimplePush variants : </p>
        <ul class="list-group ">
            <li class="list-group-item" ng-repeat="simplepushvariant in application.simplePushVariants">
                <label>
                    <input type="checkbox" ng-checked="variantSelection.indexOf(simplepushvariant.variantID) > -1" ng-click="toggleSelection(simplepushvariant)">
                    {{simplepushvariant.name}}
                </label>
            </li>
        </ul>
        <p>Chrome Packaged App variants : </p>
        <ul class="list-group ">
            <li class="list-group-item" ng-repeat="chromevariant in application.chromePackagedAppVariants">
                <label>
                    <input type="checkbox" ng-checked="variantSelection.indexOf(chromevariant.variantID) > -1" ng-click="toggleSelection(chromevariant)">
                    {{chromevariant.name}}
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok(application)" ng-disabled="form.$invalid">
          Change
        </button>
    </div>
</div>