<form name="form" class="modal-content ups-modal-content">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
        <span class="pficon pficon-close"></span>
      </button>
      <h4 class="modal-title">Import Installations </h4>
    </div>
    <div class="modal-body">
      <p>
        <strong><input type="file" ups-files="variant.installations" preview-import="previewImport()"/></strong>
      </p>

      <p ng-show="importPreview">
        <ups-pluralize noun="installation" count="importPreview" zero="No"></ups-pluralize>
        <span>will be imported</span>
      </p>
      <p ng-show="incorrectFornmat">
        <strong>
          <i class="fa fa-warning"></i>
          This file can not be parsed !
        </strong>
      </p>
    </div>
    <div class="modal-footer">
      <button ng-disabled="!importPreview" type="submit" class="btn btn-primary text-left" ng-click="ok(variant)">Import</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>
