<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
            <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title">Remove Application</h4>
    </div>
    <div class="modal-body">
        <form>
            <p>Do you want to remove variant <strong>"{{ variant.name }}"</strong>?</p>
            <p>Please type in the name of the variant to confirm.</p>
            <p>
                <input class="form-control" ng-model="confirmVariantName" pf-focused="true" />
            </p>
        </form>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger text-left" ng-click="ok(variant)"
                ng-disabled="variant.name !== confirmVariantName">
            Remove
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
