<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
            <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title">Renew Secret</h4>
    </div>
    <div class="modal-body">
        Are you sure you want to renew the Secret?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger text-left" ng-click="ok()">Renew</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
