/* TODO - remove external dependencies */

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    src: local('Exo 2 Light'), local('Exo2-Light'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/JWvvdsUbb528VH-BDTzpW_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: local('Exo 2'), local('Exo2-Regular'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/8C2PVL2WIMUnPF90ukjrZQ.woff) format('woff');
}
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/L7cKReMyy06lvTzTWfUEtfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 300;
    src: local('Exo 2 Light Italic'), local('Exo2-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/nWbHq5XdqJFjIrJyBvpVoxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 400;
    src: local('Exo 2 Italic'), local('Exo2-Italic'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/G075hziEYGpfdK2KgVmqBQ.woff) format('woff');
}
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 600;
    src: local('Exo 2 Semi Bold Italic'), local('Exo2-SemiBoldItalic'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/1cBqBVaZ3i9Efab2hdPpzBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

.login-pf body {
  font-family: "Exo 2";
  background: #61b272 url("../img/login-bg-flat.png") center center no-repeat;
}

#kc-header-wrapper {
	margin-bottom: 10px;
	line-height: 1.3em;
}

#kc-header-wrapper strong {
	font-weight: 600;
}

.login-pf .container {
    background-color: rgba(0, 0, 0, 0.4);
}

.login-pf .container .details {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.login-pf .container .form-horizontal .control-label {
	font-size: 13px;
}

.login-pf .container .form-horizontal .form-control {
  font-size: 12px;
}

.login-pf .btn-primary {
    background-color: #63b474;
    border-color: #459656;
    background-image: none;
}

.login-pf .btn-primary:hover,
.login-pf .btn-primary:focus,
.login-pf .btn-primary:active,
.login-pf .btn-primary.active,
.login-pf .open .dropdown-toggle.btn-primary {
    background-color: #469757;
}

/* Forms */
.login-pf .form-control {
	font-size: 12px;
}

.login-pf .form-control:focus,
.login-pf .form-control:hover {
    border-color: #63b474;
}

.login-pf .form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 73, 0.6);
}

.login-pf a {
    color: #63b474;
}

.login-pf #kc-logo-wrapper {
    background-image: none;
    text-align: right;
}

.login-pf #kc-logo-wrapper:before {
    content: "LiveOak";
    font-family: "Exo 2";
    font-size: 30px;
}


/* Media queries */

@media (max-height: 500px) {

  #kc-container-wrapper {
    position: absolute;
  }
}

@media (min-width: 1200px) {
  
  .login-pf form .col-lg-3 {
    width: 30%;
  }
  
  .login-pf form .col-lg-9 {
    width: 70%;
  }  
}