<h3>Notification activity</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>



<table class="datatable table table-striped table-bordered">
  <thead>
  <tr>
    <th>Variant</th>
    <th>Notification</th>
    <th>Receivers</th>
    <th>Status</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{"ipAddress":"127.0.0.1","clientIdentifier":"AeroG...</td>
    <td>Notification...</td>
    <td>0 installations</td>
    <td class="success"><i class="fa fa-check"></i> Succeeded</td>
    <td>29 Dec, 12:12:30, 2014</td>
  </tr>
  <tr>
    <td>{"ipAddress":"127.0.0.1","clientIdentifier":"AeroG...</td>
    <td>Notification...</td>
    <td>0 installations</td>
    <td class="warning">
              <span class="pficon-layered">
                <span class="pficon pficon-warning-triangle"></span>
                <span class="pficon pficon-warning-exclamation"></span>
              </span>
      Warning
    </td>
    <td>29 Dec, 12:12:30, 2014</td>
  </tr>
  <tr>
    <td>{"ipAddress":"127.0.0.1","clientIdentifier":"AeroG...</td>
    <td>Notification...</td>
    <td>0 installations</td>
    <td class="danger">
        <span class="pficon-layered">
          <span class="pficon pficon-error-octagon"></span>
          <span class="pficon pficon-error-exclamation"></span>
        </span>
      Fail
    </td>
    <td>29 Dec, 12:12:30, 2014</td>
  </tr>
  <tr>
    <td>{"ipAddress":"127.0.0.1","clientIdentifier":"AeroG...</td>
    <td>Notification...</td>
    <td>0 installations</td>
    <td class="success"><i class="fa fa-check"></i> Succeeded</td>
    <td>29 Dec, 12:12:30, 2014</td>
  </tr>
  </tbody>
</table>
