<div ng-if="appDetail.app.$messageCount > 0">
  <div class="ups-app-header">
    <h3>App Analytics</h3>
  </div><!-- app header -->

  <div class="row analytics">

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Push Messages</h3>
        </div>
        <div class="panel-body">
          <h2 id="message-count">{{ appDetail.app.$messageCount | number:0 }}</h2>
          <div class="analytics-help" tooltip-placement="bottom"
               tooltip="Number of push messages sent to UnifiedPush Server for dispatching to registered devices">
            <span class="pficon pficon-help"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notifications Opened</h3>
        </div>
        <div class="panel-body">
          <h2 id="opened-count">{{ analyticsCtrl.appOpenedCounter | number:0 }}</h2>
          <div class="analytics-help" tooltip-placement="bottom"
               tooltip="Number of notifications that were delivered to registered device and opened by a user">
            <span class="pficon pficon-help"></span>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- row -->


  <div class="row" ng-if="analyticsCtrl.app.$deviceCount > 0 && analyticsCtrl.receivers > 0">
    <div class="col-sm-8" ng-if="analyticsCtrl.app.$deviceCount > 0 && analyticsCtrl.performance[0].length > 1">
      <h3>Performance</h3>
      <c3-chart id="performance" config="analyticsCtrl.performanceChartConfig"></c3-chart>
    </div><!-- col -->

    <div class="col-sm-4" ng-if="analyticsCtrl.app.$deviceCount > 0">
      <h3>Push Networks</h3>
      <c3-chart id="pushNetworks" config="analyticsCtrl.pushNetworksChartConfig"></c3-chart>
    </div><!-- col -->

  </div><!-- row -->
</div><!-- ng-if -->

