<div class="actions pull-right ups-main-action">
  <button class="btn btn-primary" ng-click="variants.add()"><span class="pficon pficon-add"></span> Add a variant</button>
</div>

<h3>You have {{ appDetail.app.variants.length }} Variants</h3>

<div class="panel panel-default ups-panel" ng-repeat="(variantType, variantList) in variants.byType">
  <div class="panel-heading ups-has-icon ups-variant-{{ variantType }}">
    <h3 class="panel-title">{{ variants.typeEnum[variantType].name }} Variants</h3>
    <ul class="list-inline">
      <li><span class="pficon pficon-messages"></span> <strong>{{ variantList.$messageCount }}</strong> Delivered</li>
      <li><i class="fa fa-mobile"></i> <strong>{{ variantList.$deviceCount }}</strong> Devices</li>
    </ul>
  </div>
  <div class="panel-body">

    <div class="ups-variant" ng-repeat="variant in variantList">

      <div class="ups-variant-header">
        <div class="actions pull-right">
          <ul class="list-inline">
            <li><a ng-click="variants.editName( variant )"><span class="pficon pficon-edit"></span> Change name</a></li>
            <li class="danger"><a ng-click="variants.delete( variant )"><span class="pficon pficon-delete"></span> Delete</a></li>
          </ul>
        </div>

        <h4 ng-click="variant.$toggled = !variant.$toggled"><i class="fa" ng-class="{ 'fa-plus-square-o': !variant.$toggled, 'fa-minus-square-o': variant.$toggled }"></i> {{ variant.name }}</h4>
        <ul class="list-inline">
          <li class="warning" ng-repeat="warning in variants.getWarningsForVariant( app.warnings, variant ) | limitTo: 1">
              <span class="pficon-layered">
                <span class="pficon pficon-warning-triangle"></span>
                <span class="pficon pficon-warning-exclamation"></span>
              </span>
            Warning
          </li>
          <li ng-if="variant.$deviceCount == 0"><i class="fa fa-ban"></i> No installation yet</li>
          <li ng-if="variant.$deviceCount > 0"><span class="pficon pficon-messages"></span> <strong>{{ variant.$messageCount }}</strong> Delivered</li>
          <li ng-if="variant.$deviceCount > 0"><i class="fa fa-mobile"></i> <strong>{{ variant.$deviceCount }}</strong> Devices</li>
        </ul>

      </div><!-- vaiant header -->
      <div class="ups-variant-body" ng-show="variant.$toggled">

        <p ng-show="variant.type == 'ios'">Apple's Push Network (APNs) will be used.
          To learn more about APNs, visit our <a href="http://aerogear.org/docs/unifiedpush/aerogear-push-ios/">iOS</a>
          or <a href="http://aerogear.org/docs/guides/aerogear-cordova/AerogearCordovaPush/">Apache Cordova</a> guides for push.
        </p>
        <p ng-show="variant.type == 'android'">Google's Cloud Messaging Network (GCM) will be used.
          To learn more about GCM, visit our <a href="http://aerogear.org/docs/unifiedpush/aerogear-push-android/">Android</a>, <a href='http://aerogear.org/docs/unifiedpush/aerogear-push-chrome/'>Chrome</a> or <a href="http://aerogear.org/docs/guides/aerogear-cordova/AerogearCordovaPush/">Apache Cordova</a> guides for push.
        </p>
        <p ng-show="variant.type == 'simplePush'">A Server implementing the <em>SimplePush</em> protocol will be used.
          More information can be found in <a href="https://wiki.mozilla.org/WebAPI/SimplePush/Protocol">SimplePush Protocol Draft</a>.
          The <a href="https://github.com/aerogear/aerogear-simplepush-quickstart">AeroGears' SimplePush Quickstart</a> also contains useful information.
        </p>
        <p ng-show="variant.type == 'adm'">Amazon's Device Messaging Network (ADM) will be used.
          To learn more about, visit our <a href="http://aerogear.org/docs/unifiedpush/aerogear-push-adm/">adm</a> or <a href="http://aerogear.org/docs/guides/aerogear-cordova/AerogearCordovaPush/">Apache Cordova</a> guides for push.
        </p>
        <dl class="dl-horizontal" ng-if="variant.type == 'android'">
          <dt>Project Number:</dt>
          <dd>{{ variant.projectNumber }}</dd>
          <dt>Google API Key:</dt>
          <dd>
            {{ variant.googleKey }}<br />
            <button class="btn btn-sm btn-primary" ng-click="variants.edit( variant )"><span class="pficon pficon-refresh"></span> Change network options</button>
          </dd>
        </dl>
        <dl class="dl-horizontal" ng-show="variant.type == 'windows_mpns'">
          <dt>Type:</dt>
          <dd>Microsoft Push Notification Service</dd>
        </dl>
        <dl class="dl-horizontal" ng-show="variant.type == 'windows_wns'">
          <dt>Type:</dt>
          <dd>Windows Push Network</dd>
          <dt>Package SID:</dt>
          <dd>{{ variant.sid }}</dd>
          <dt>Client Secret:</dt>
          <dd>
            {{ variant.clientSecret }}<br />
            <button class="btn btn-sm btn-primary" ng-click="variants.edit( variant )"><span class="pficon pficon-refresh"></span> Change network options</button>
          </dd>
        </dl>
        <dl class="dl-horizontal" ng-show="variant.type == 'ios'">
          <dt>Type:</dt>
          <dd>
            {{ variant.production ? 'Production' : 'Development' }}<br />
            <button class="btn btn-sm btn-primary" ng-click="variants.edit( variant )"><span class="pficon pficon-refresh"></span> Change network options</button>
          </dd>
        </dl>
        <dl class="dl-horizontal" ng-show="variant.type == 'chrome'">
          <dt>Client Id:</dt>
          <dd>{{ variant.clientId }}</dd>
          <dt>Client Secret:</dt>
          <dd>{{ variant.clientSecret }}</dd>
          <dt>Refresh Token:</dt>
          <dd>
            {{ variant.refreshToken }}<br />
            <button class="btn btn-sm btn-primary" ng-click="variants.edit( variant )"><span class="pficon pficon-refresh"></span> Change network options</button>
          </dd>
        </dl>
        <dl class="dl-horizontal" ng-show="variant.type == 'adm'">
          <dt>Client Id:</dt>
          <dd>{{ variant.clientId }}</dd>
          <dt>Client Secret:</dt>
          <dd>
            {{ variant.clientSecret }}<br />
            <button class="btn btn-sm btn-primary" ng-click="variants.edit( variant )"><span class="pficon pficon-refresh"></span> Change network options</button>
          </dd>
        </dl>

        <ups-client-snippets variant="variant"></ups-client-snippets>

      </div><!-- variant content -->
    </div><!-- variant -->


  </div><!-- panel body -->
</div><!-- panel -->
