<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-9">

      <div class="page-header page-header-bleed-right">
        <h1>Thanks!</h1>
      </div>

      <div class="well ups-blank-slate">
        <p><i class="fa fa-check-square-o fa-5x muted"></i></p>
        <h1>Congratulations! you have created an app</h1>
        <p>Now go ahead and add more variants, send test notifications and create more applications!</p>
        <p class="h3"><a ng-link="home" class="btn btn-primary btn-lg">Done! Go to homepage</a></p>
      </div><!--well-->


    </div><!-- /col -->


    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right">

      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">Wizard steps</h2>
      </div>
      <ol class="list-unstyled ups-steps">
        <li class="done"><strong><i class="fa fa-check"></i></strong> Create your first Application</li>
        <li class="done"><strong><i class="fa fa-check"></i></strong> Add a variant</li>
        <li class="done"><strong><i class="fa fa-check"></i></strong> Mobile device: Set up variant</li>
        <li class="done"><strong><i class="fa fa-check"></i></strong> Test! Send notification</li>
        <li class="done"><strong><i class="fa fa-check"></i></strong> Backend: Set up sender API</li>
      </ol>



    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->
