<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-9">

      <div class="page-header page-header-bleed-right">
        <h1 translate>Well done!</h1>
      </div>


      <div class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
          <i class="fa fa-check-square-o"></i>
        </div>
      
        <h1 translate>Congratulations! you have created an app</h1>
        <p translate>Now go ahead and add more variants, send test notifications and create more applications!</p>
      
        <div class="blank-slate-pf-main-action">
          <a ng-link="home" class="btn btn-primary btn-lg" translate>
            Done! Go to homepage
          </a> 
        </div>
      </div>


    </div><!-- /col -->


    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right">

      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5" translate>Wizard steps</h2>
      </div>
      <ol class="list-unstyled ups-steps">
        <li class="done"><strong><i class="fa fa-check"></i></strong> <span translate>Create your first Application</span></li>
        <li class="done"><strong><i class="fa fa-check"></i></strong> <span translate>Add a variant</span></li>
        <li class="done"><strong><i class="fa fa-check"></i></strong> <span translate>Mobile device: Set up variant</span></li>
        <li class="done"><strong><i class="fa fa-check"></i></strong> <span translate>Test! Send notification</span></li>
        <li class="done"><strong><i class="fa fa-check"></i></strong> <span translate>Backend: Set up sender API</span></li>
      </ol>



    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->
