<ul class="nav nav-tabs nav-justified ups-snippet-nav" ng-if="typeEnum[variant.type].snippets.length">
  <li ng-repeat="snippet in typeEnum[variant.type].snippets"
      ng-init="state.activeSnippet = typeEnum[variant.type].snippets[0]"
      ng-class="{ active: snippet == state.activeSnippet }">
    <a ng-click="state.activeSnippet = snippet">
      <span ng-if="snippet == 'android'">Android</span>
      <span ng-if="snippet == 'simplePush'">JavaScript</span>
      <span ng-if="snippet == 'ios-objc'">ObjectiveC</span>
      <span ng-if="snippet == 'ios-swift'">Swift</span>
      <span ng-if="snippet == 'wns'">C#</span>
      <span ng-if="snippet == 'mpns'">C#</span>
      <span ng-if="snippet == 'cordova'">Cordova</span>
    </a>
  </li>
</ul>

<div class="ups-snippet" ng-if="typeEnum[variant.type].snippets.length">
  <a data-placement="left" title="Copy to clipboard">Copy</a>
  <!-- use both ng-if and ng-show prevents screen flickering caused by reinsertion of DOM parts, ng-if turns the invalid sample off to avoid DOM pollution -->
  <pre class="pre-scrollable prettyprint" ng-if="typeEnum[variant.type].indexOf('android') !== -1" ng-show="state.activeSnippet == 'android'"><ng-include src="'snippets/register-device/android.java'"></ng-include></pre>
  <pre class="pre-scrollable prettyprint" ng-if="typeEnum[variant.type].indexOf('cordova') !== -1" ng-show="state.activeSnippet == 'cordova'"><ng-include src="'snippets/register-device/cordova.js'"></ng-include></pre>
</div>
