<ul class="list-group ">
    <li class="list-group-item" ng-repeat="variant in variants">
        <a class="clickable" ng-click="expand(variant)">
            <i class="fa" ng-class="{'fa-plus-square-o': isCollapsed(variant), 'fa-minus-square-o': !isCollapsed(variant)}"></i> {{ variant.name }}
        </a>
        <span>{{ variant.description }}</span>
        <span ng-hide="variant.description.length">No description</span>
        <div class="pull-right dropdown">
            <span>
                <span ng-show="!counts[variant.variantID]">no installations</span>
                <span ng-show="counts[variant.variantID]">
                    <strong>
                        <a href="#/{{applicationId}}/installations/{{variant.variantID}}" ng-click="currentVariant(variant)">
                            {{ counts[variant.variantID] }}
                        </a>
                    </strong> installation<ng-pluralize count="counts[variant.variantID]" when="{ 'other': 's'}"></ng-pluralize>
                </span>
            </span>

            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-cog"></i></a>
            <ul class="dropdown-menu">
                <li><a role="menuitem" ng-click="editVariant(variant, type)">Edit...</a></li>
                <li role="presentation" class="divider"></li>
                <li><a role="menuitem" ng-click="removeVariant(variant, type)">Remove...</a></li>
            </ul>
        </div>
        <div class="ups-toggle-box" collapse="isCollapsed(variant)">
            <div class="ups-tip-panel">
                <div class="ups-tip-panel-illustration" style="background-image: url('img/tip-registering_installations.png');"></div>
                <div class="ups-tip-panel-body">
                    <h2>Registering installations
                        <div class="pull-right dropdown">
                            <a href="#/example/{{applicationId}}/{{type}}/{{variant.variantID}}" class="ups-tip-panel-link">Example implementation</a>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li><a role="menuitem" data-toggle="modal" data-target="#RenewSecret">Renew Secret...</a></li>
                            </ul>
                        </div>
                    </h2>
                    <table>
                        <tr><td>Server URL:</td><td>{{ currentLocation }}</td></tr>
                        <tr><td>Variant ID:</td><td>{{ variant.variantID }}</td></tr>
                        <tr><td>Secret: </td><td>{{ variant.secret }}</td></tr>
                    </table>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="ups-panel-details">
                <h3>Push Network Details</h3>
                <table ng-show="variant.projectNumber.length">
                    <tr><td>Project Number:</td><td>{{ variant.projectNumber }}</td></tr>
                    <tr><td>Google API Key:</td><td>{{ variant.googleKey }}</td></tr>
                </table>
                <table ng-show="variant.passphrase.length">
                    <tr><td>Production key:</td><td>{{ variant.production }}</td></tr>
                </table>
                <table ng-show="variant.clientId.length">
                    <tr><td>Client Id:</td><td>{{ variant.clientId }}</td></tr>
                    <tr><td>Client Secret:</td><td>{{ variant.clientSecret }}</td></tr>
                    <tr><td>Refresh Token:</td><td>{{ variant.refreshToken }}</td></tr>
                </table>
            </div>
        </div>
    </li>
</ul>