<div>
    <label>
        <input type="radio" name="platform" value="android">
        Google Key
    </label>
    {{input type="text" value=googleKey}}
</div>
<div>
    <label>
        <input type="radio" name="platform" value="iOS">
        iOS PassPhrase
    </label>
    {{input type="password" value=passphrase}}
</div>
<div>
    <label>
        <input type="radio" name="platform" value="simplePush">
        Web
    </label>
    {{input type="text" value=pushNetworkURL}}
</div>
