<h3>Current Network:</h3>
{{#if isAndroid}}
<section>
    <label>
        Google Key
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-ios/" target="_blank">AeroGear Help</a></div>
    {{input type="text" name="googleKey" valueBinding="googleKey" classNames="topcoat-text-input" classNameBindings="validationErrors.googleKey:error"}}
</section>
{{/if}}
{{#if isiOS}}
<section>
    <label>
        iOS PassPhrase
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-ios/" target="_blank">AeroGear Help</a></div>
    {{input type="password" name="passphrase" valueBinding="passphrase" classNames="topcoat-text-input" classNameBindings="validationErrors.passphrase:error"}}
    <br>
    <label>Certificate</label>
    {{input type="file" name="certificate" }}
    <br>
    <label>Production</label>
    {{view Ember.Checkbox checkedBinding="production"}}
</section>
{{/if}}
{{#if isSimplePush}}
<section>
    <label>
        Web
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-ios/" target="_blank">AeroGear Help</a></div>
</section>
{{/if}}
