@import url("/unifiedpush-server/styles/account.css");
@import url("../../keycloak/css/account.css");

.navbar-title {
    background-image: none;
    text-indent: 0;
    width: inherit;
}

.navbar-pf .navbar-utility a:hover {
    background-color: #0084b9 !important;
}
