<!-- The Mobile Applications Template -->
<div class="message">
    <p>The Unified Push Server provides you with a simple <strong>unified way to send push notifications</strong> to apps that run <strong>on different mobile platforms</strong>. Supported push networks include <strong>Apple Push Notification Service</strong>, <strong>Google Cloud Messaging</strong> and <strong>Simple Push</strong>.</p><br>
</div>
<div>
    <section>
        {{partial "mobileApps/appsList"}}
    </section>
</div>
