/* LiveOak theme for account settings */

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,300italic,400italic,600,600italic);

html, body {
  height: 100%;
}

body {
  font-family: "Exo 2",​ sans-serif;
  color: #666;
  background-color: #f5f5f5;
}

a {
  color: #63B474;
}

a:hover {
  color: #459656;
}

a:focus {
  outline: 0 none;
}

body > .container {
  overflow: hidden;
  height: calc(100% - 36px);
}


/* header */

.container {
  padding: 0;
  width: 100%;
}

.navbar {
  border: none;
  min-height: 0;
  margin: 0;
}

.navbar-pf {
  border: none;
  background-color: #63B474;
}

.navbar-pf .navbar-header {
  border: none;
}

.navbar-header .container {
  padding: 0;
}

.navbar-title {
  background-image: none;
  font-size: 20px;
  line-height: 36px;
  height: 36px;
  overflow: hidden;
  font-family: "Exo 2",​ sans-serif;
  margin: 0;
  padding: 0 30px;
  font-weight: 400;
}

.navbar-title:before {
  content: "LiveOak";
  display: block;
  text-indent: 0;
  color: #fff;
}

.navbar-pf .navbar-utility {
    padding-right: 20px;
}

.navbar-pf .navbar-utility > li > a {
  font-size: 13px;
  line-height: 22px;
  padding: 7px 10px;
  border-left: 0;
  color: #fff !important;
}

.navbar-pf .navbar-utility > li > a:hover {
  background-color: #55A566;
}


/* sidebar */

.bs-sidebar {
  background-color: #343434;
  padding: 0;
  width: 16.6667%;
}

.bs-sidebar ul {
  padding-left: 0;
}

.bs-sidebar ul li {
  margin: 18px 0 0;
  text-align: center;
}

.bs-sidebar ul li:first-child {
  margin-top: 32px;
}

.bs-sidebar ul li.active {
  background: url(img/sidebar-active.svg) no-repeat right 22px;
}

.bs-sidebar ul li a {
  border: none;
  color: #fff;
  font-family: "Exo 2",​ sans-serif;
  font-weight: bold;
  padding: 0;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1em;
}

.bs-sidebar ul li a:hover, 
.bs-sidebar ul li a:focus {
  text-decoration: none;
  opacity: 1;
}

.bs-sidebar ul li.active a {
  background-color: transparent;
  opacity: 1;
}

.bs-sidebar ul li a:before {
  display: block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 42px;
  opacity: 1;
  -webkit-opacity: inherit;
}

.bs-sidebar ul li:nth-child(1) a:before {
  content: "";
}

.bs-sidebar ul li:nth-child(2) a:before {
  content: "";
}

.bs-sidebar ul li:nth-child(3) a:before {
  content: "";
}

.bs-sidebar ul li:nth-child(4) a:before {
  content: "";
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
       url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
       url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), 
       url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* content */

.content-area {
  background-color: #f5f5f5;
  border: none;
  width: 69.2%;
  padding: 0 30px;
}

.content-area > .row > .col-md-10 {
  width: 50%;
}

.content-area > .row > .col-md-2 {
  width: 50%;
}

.content-area h2 {
  font-family: "Exo 2",​ sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
  line-height: 1.2em;
}

.subtitle {
  color: #aaa;
  font-weight: 300;
  font-size: 12px;
  margin-top: 36px;
  text-align: right;
}

hr {
  border-color: #ddd;
}

/* form */

.form-horizontal {
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px 0 0;
  padding-top: 24px;
}

hr + .form-horizontal {
  border: none;
  padding-top: 0;
}

.form-group .col-sm-2.col-md-2 {
  position: relative;
  padding-right: 20px;
}
  
.form-group .col-sm-10.col-md-10 {
  padding-left: 5px;
}

label {
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  line-height: 1.2em;
}

.form-horizontal .control-label, 
.form-horizontal .radio, 
.form-horizontal .checkbox, 
.form-horizontal .radio-inline, 
.form-horizontal .checkbox-inline {
  padding-top: 4px;
}

.required {
  color: #CB0000;
  font-size: 12px;
}

.form-control {
  font-size: 12px;
}

.form-control:focus, 
.form-control:hover {
  border-color: #63B474;
}

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 73, 0.6);
  outline: 0 none;
}

#kc-form-buttons {
  text-align: right;
  margin-top: 10px;
}

#kc-form-buttons .btn-primary {
  float: right;
  margin-left: 10px;
}

.btn-primary {
  background-color: #63B474;
  background-image: linear-gradient(to bottom, #63B474 0%, #63B474 100%);
  border-color: #459656;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
  background-color: #55A566;
  background-image: none;
  border-color: #459656;
}


/* authentication page */

ol {
  padding-left: 40px;
}

ol li {
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
}

ol li img {
  margin-top: 15px;
  width: 180px;
  margin-bottom: 5px;
}

ol li span {
  bottom: 80px;
  left: 200px;
  position: absolute;
  font-family: courier, ​monospace;
  font-size: 13px;
}


/* alert */

.alert {
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 0;
}

.alert.alert-success {
  background-color: #FFFFFF;
  border-color: #5CB75C;
}

.alert.alert-error {
  background-color: #FFFFFF;
  border-color: #C90813;
}

.alert.alert-warning {
  background-color: #FFFFFF;
  border-color: #EB7720;
}

.alert.alert-info {
  background-color: #FFFFFF;
  border-color: #CCCCCC;
}


/* BREAK POINTS */

@media only screen and (min-width: 992px) {

  .bs-sidebar {
    margin-bottom: -999999px;
    padding-bottom: 999999px;
  }
}

@media only screen and (max-width: 991px) {

  .bs-sidebar {
    width: 100%;
    z-index: 100;
  }
  
  .bs-sidebar ul {
    display: table;
    width: 100%;
    margin-bottom: 0;
  }
  
  .bs-sidebar ul li {
    display: table-cell;
    width: 25%;
    margin: 0;
    padding-bottom: 13px;
    padding-top: 20px;
  }
  
  .content-area {
    width: 100%;
    clear: both;
  }
  
  .content-area > .row > .col-md-10 {
    float: left;
  }
  
  .content-area > .row > .col-md-2 {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  
  .form-group .required {
    position: absolute;
    right: 0;
    top: -1px;
    right: 5px;
  }
}

@media only screen and (max-width: 767px) {

  .navbar-collapse .container {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .navbar-pf .navbar-utility {
    float: right;
  }
  
  .navbar-collapse ul li {
    display: inline-block;
  }
  
  .form-horizontal .control-label {
    display: inline-block;
    width: auto;
  }
  
  .form-horizontal .form-group {
    margin-left: -5px;
  }
  
  .form-group .col-sm-2.col-md-2 {
    padding-left: 5px;
  }
  
  .form-group .required {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 640px) {
  
  .bs-sidebar ul li a {
    font-size: 13px;
  }
  
  .bs-sidebar ul li a:before {
    font-size: 33px;
  }
  
  .content-area {
    padding: 0 15px;
  }
  
}


