{{#if isLoaded}}
    <div>{{#linkTo "mobileApps"}}Push Applications{{/linkTo}} > {{#linkTo "variants" this}}Variants{{/linkTo}} > {{#linkTo "variant" this}}Variant{{/linkTo}} > Installation</div>
    <section>
        <h3>Installation</h3>
        <span>
            An Installation
        </span>
        <div class="rcue-code token">
            Device Token: {{ deviceToken }}
        </div>
    </div>
    {{ partial "instance/variantInstanceDetail" }}
{{else}}
    loading....
{{/if}}
