#kc-logo-wrapper {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: top right;

    height: 65px;

    margin: 100px;
}

@media only screen and (max-width: 640px) {
    #kc-logo-wrapper {
        margin-left: auto;
    }

    #kc-header-wrapper strong {
        display: block;        
    }
}
