<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<module-name>unifiedpush-server</module-name>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<resource-ref>
		<res-ref-name>infinispan/config/databases</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/databases</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/aliases</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/aliases</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/realms-cache</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/variant-ids-per-clientid</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/realms</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/realms</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/variant-by-id</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/variant-by-id</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/application-by-id</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/application-by-id</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/application-by-variant-id</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/application-by-variant-id</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/application-by-name</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/application-by-name</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/otpcodes</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/otpcodes</lookup-name>
	</resource-ref>

	<resource-ref>
		<res-ref-name>infinispan/config/cluster-events-cache</res-ref-name>
		<lookup-name>java:jboss/infinispan/configuration/aerogear/cluster-events-cache</lookup-name>
	</resource-ref>

	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ASYNC</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>resteasy.servlet.mapping.prefix</param-name>
			<param-value>/rest</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>
