<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-9">

      <ol class="breadcrumb">
        <li><a ng-link="href" translate>Applications</a></li>
        <li><strong>{{ appDetail.app.name }}:</strong> <span translate>Variants</span></li>
      </ol>

      <div class="ups-app-header">
        <div class="actions pull-right">
          <button id="send-notification-btn" class="btn btn-default" ng-click="appDetail.sendNotification()" ng-disabled="!appDetail.app.variants.length"><i class="fa fa-paper-plane"></i> <span translate>Send Notification to this app</span></button>
        </div>
        <h1>{{ appDetail.app.name }}</h1>
      </div><!-- app header -->

      <ul class="nav nav-tabs">
        <li ng-class="{ active: appDetail.tab == 'analytics' }" ng-if="appDetail.app.variants.length">
          <a id="analytics-tab" ng-link="appDetail({app: appDetail.app.pushApplicationID, tab: 'analytics'})" translate>Analytics</a>
        </li>
        <li ng-class="{ active: appDetail.tab == 'variants' }">
          <a id="variants-tab" ng-link="appDetail({app: appDetail.app.pushApplicationID, tab: 'variants'})" translate>Variants</a>
        </li>
        <li ng-class="{ active: appDetail.tab == 'sender' }" ng-if="appDetail.app.variants.length">
          <a id="sender-tab" ng-link="appDetail({app: appDetail.app.pushApplicationID, tab: 'sender'})" translate>Sender API</a>
        </li>
        <li ng-class="{ active: appDetail.tab == 'activity' }"  ng-if="appDetail.app.variants.length">
          <a id="activity-tab" ng-link="appDetail({app: appDetail.app.pushApplicationID, tab: 'activity'})" translate>Activity log</a>
        </li>
      </ul>

      <ng-include id="analytics-panel" src="'components/app-detail/include/analytics.html'" ng-if="appDetail.tab == 'analytics'"  ng-controller="AnalyticsController as analyticsCtrl"></ng-include>
      <ng-include id="blank-panel" src="'components/app-detail/include/blank.html'" ng-if="appDetail.tab == 'variants' && !appDetail.app.variants.length" ng-controller="VariantsController as variants"></ng-include>
      <ng-include id="variants-panel" src="'components/app-detail/include/variants.html'" ng-if="appDetail.tab == 'variants' && appDetail.app.variants.length" ng-controller="VariantsController as variants"></ng-include>
      <ng-include id="sender-panel" src="'components/app-detail/include/sender.html'" ng-if="appDetail.tab == 'sender'" ng-controller="SenderController as sender"></ng-include>
      <ng-include id="activity-panel" src="'components/app-detail/include/activity.html'" ng-if="appDetail.tab == 'activity'" ng-controller="ActivityController as activity"></ng-include>
    </div><!-- /col -->

    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right">

      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5" translate>App Statistics</h2>
      </div>
      <ul class="list-unstyled ups-statistics">
        <li id="stat-variant-count"><span class="count">{{ appDetail.app.variants.length }}</span><span translate translate-n="appDetail.app.variants.length" translate-plural="Variants">Variant</span></li>
        <li id="stat-message-count"><span class="count">{{ appDetail.app.$messageCount }}</span><span translate translate-n="appDetail.app.$messageCount" translate-plural="Messages">Message</span></li>
        <li id="stat-device-count"><span class="count">{{ appDetail.app.$deviceCount }}</span><span translate translate-n="appDetail.app.$deviceCount" translate-plural="Devices">Device</span></li>
      </ul>


      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right"
           ng-if="appDetail.app.$messageCount">
        <h2 class="h5" translate>App Notifications</h2>
      </div>
      <div class="list-group" ng-if="appDetail.app.$messageCount">
        <a class="list-group-item" ng-repeat="notification in appDetail.notifications | limitTo:4">
          <h3 class="list-group-item-heading">{{ appDetail.app.name }}</h3>
          <p class="list-group-item-text">{{ notification.submitDate | date:'d MMM, H:mm:ss, yyyy' }}</p>
        </a>
      </div>
      <p><a id="see-notifications" ng-hide="appDetail.tab == 'activity' || appDetail.app.$messageCount == 0" ng-link="appDetail({app: appDetail.app.pushApplicationID, tab: 'activity'})"><span class="pficon pficon-history"></span> <span translate>See all notifications</span></a></p>
    </div><!-- /col -->

  </div><!-- /row -->
</div><!-- /container -->
