<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-9">

      <ol class="breadcrumb">
        <li><a ng-link="href">Applications</a></li>
        <li><strong>{{ appDetail.app.name }}:</strong> Variants</li>
      </ol>

      <div class="ups-app-header">
        <div class="actions pull-right">
          <button class="btn btn-default" ng-click="appDetail.sendNotification()" ng-disabled="!appDetail.app.variants.length"><i class="fa fa-paper-plane"></i> Send Notification to this app</button>
        </div>
        <h1>{{ appDetail.app.name }}</h1>
      </div><!-- app header -->

      <ul class="nav nav-tabs">
        <li ng-class="{ active: appDetail.tab == 'variants' }"><a ng-link="appDetail({app: appDetail.app.pushApplicationID, tab: 'variants'})">Variants</a></li>
        <li ng-class="{ active: appDetail.tab == 'sender' }" ng-if="appDetail.app.variants.length"><a ng-link="appDetail({app: appDetail.app.pushApplicationID, tab: 'sender'})">Sender API</a></li>
        <li ng-class="{ active: appDetail.tab == 'activity' }"  ng-if="appDetail.app.variants.length"><a ng-link="appDetail({app: appDetail.app.pushApplicationID, tab: 'activity'})">Activity log</a></li>
      </ul>

      <ng-include src="'components/app-detail/include/blank.html'" ng-if="appDetail.tab == 'variants' && !appDetail.app.variants.length" ng-controller="VariantsController as variants"></ng-include>
      <ng-include src="'components/app-detail/include/variants.html'" ng-if="appDetail.tab == 'variants' && appDetail.app.variants.length" ng-controller="VariantsController as variants"></ng-include>
      <ng-include src="'components/app-detail/include/sender.html'" ng-if="appDetail.tab == 'sender'" ng-controller="SenderController as sender"></ng-include>
      <ng-include src="'components/app-detail/include/activity.html'" ng-if="appDetail.tab == 'activity'"></ng-include>
    </div><!-- /col -->

    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right">

      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">App Statistics</h2>
      </div>
      <ul class="list-unstyled ups-statistics">
        <li><span>8</span>Variants</li>
        <li><span>825</span>Delivered</li>
        <li><span>52</span>Devices</li>
      </ul>


      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">App Notifications</h2>
      </div>
      <div class="list-group">
        <a href="app-detail-log.html" class="list-group-item">
          <h3 class="list-group-item-heading">Application name</h3>
          <p class="list-group-item-text">29 Dec, 12:12:30, 2014</p>
        </a>
        <a href="app-detail-log.html" class="list-group-item">
          <h3 class="list-group-item-heading">Application name</h3>
          <p class="list-group-item-text">29 Dec, 12:12:30, 2014</p>
        </a>
        <a href="app-detail-log.html" class="list-group-item">
          <h3 class="list-group-item-heading">Application name</h3>
          <p class="list-group-item-text">29 Dec, 12:12:30, 2014</p>
        </a>
        <a href="app-detail-log.html" class="list-group-item">
          <h3 class="list-group-item-heading">Application name</h3>
          <p class="list-group-item-text">29 Dec, 12:12:30, 2014</p>
        </a>

      </div>
      <p><a href="#"><span class="pficon pficon-history"></span> See all notifications</a></p>
    </div><!-- /col -->

  </div><!-- /row -->
</div><!-- /container -->




<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add Variant</h4>
      </div>


      <div class="modal-body">

        <div class="alert alert-danger">
        <span class="pficon-layered">
          <span class="pficon pficon-error-octagon"></span>
          <span class="pficon pficon-error-exclamation"></span>
        </span>
          <strong>General error!</strong> general validation goes here. Other goes on inputs.
        </div>

        <form class="form-horizontal ups-add-variable">
          <div class="form-group has-error">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">Name</label>
            <div class="col-sm-9">
              <input type="text" id="textInput-modal-markup" class="form-control" placeholder="eg. Demo">
              <span class="help-block">Please correct the error</span>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput2-modal-markup">Choose a platform</label>
            <div class="col-sm-9">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                  <span class="ups-has-icon ups-variant-android">
                    <strong>Android</strong><br>
                    using Google Cloud Messaging
                  </span>
                </label>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label sr-only" for="textInput2-modal-markup">iOS</label>
            <div class="col-sm-9">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                  <span class="ups-has-icon ups-variant-ios">
                    <strong>iOS</strong><br>
                    using Apple Push Network
                  </span>
                </label>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label sr-only" for="textInput2-modal-markup">Chrome</label>
            <div class="col-sm-9">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                  <span class="ups-has-icon ups-variant-chrome">
                    <strong>Chrome</strong><br>
                    using Google Cloud Messaging for Chrome
                  </span>
                </label>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label sr-only" for="textInput2-modal-markup">Windows</label>
            <div class="col-sm-9">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                  <span class="ups-has-icon ups-variant-windows">
                    <strong>Windows</strong><br>
                    using Windows Network Services
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label sr-only" for="textInput2-modal-markup">SimplePush</label>
            <div class="col-sm-9">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                  <span class="ups-has-icon ups-variant-mozila">
                    <strong>SimplePush</strong><br>
                    using the Mozilla WebAPI
                  </span>
                </label>
              </div>
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="wizard03.html" class="btn btn-primary">Create</a>
      </div>
    </div>
  </div>
</div>





<div class="modal" id="sendNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Send push to Application One</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">


          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">Message</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="3" placeholder="Write the notification"></textarea>
            </div>
          </div>



          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">Variants</label>
            <div class="col-sm-9">

              <select class="selectpicker" multiple="multiple">
                <option>Variant One</option>
                <option>Variant Two</option>
                <option>Variant Three</option>
                <option>Variant Four</option>
              </select>

            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">Aliases</label>
            <div class="col-sm-9">
              <input type="text" id="textInput-modal-markup" class="form-control" placeholder="All">
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">Device Types</label>
            <div class="col-sm-9">
              <input type="text" id="textInput-modal-markup" class="form-control" placeholder="All">
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">Categories</label>
            <div class="col-sm-9">
              <input type="text" id="textInput-modal-markup" class="form-control" placeholder="All">
            </div>
          </div>


          <span id="helpBlock" class="help-block">You can provide multiple values at a time by separating them by commas.</span>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="#" class="btn btn-primary">Send Push Notification</a>
      </div>
    </div>
  </div>
</div>
