<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AeroGear UnifiedPush Server</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="img/favicon.png">

    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="bower_components/patternfly/components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="bower_components/patternfly/components/respond/dest/respond.min.js"></script>
    <![endif]-->

    <!-- build:css({.tmp,app}) styles/dist.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

</head>
<body class="app-dashboard" ng-controller="AppController as app">

<div class="idlebox ng-cloak" ng-controller="IdleController as idle"
     ng-hide="idle.idleCountdown > idle.config.idleWarningDuration">
  You will be logged off in {{ idle.idleCountdown }}&nbsp;seconds due to inactivity.
</div>

<div class="ups-main-warning ng-cloak">
  <div ng-repeat="notification in notifications.data" data-ng-show="notifications.data.length > 0">
    <div class="alert alert-{{notification.type}} alert-dismissable" ng-click="notifications.remove($index)" style="margin-bottom:1em">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
      </button>
      <span class="pficon pficon-ok" ng-show="notification.type == 'success'"></span>
      <span class="pficon pficon-info" ng-show="notification.type == 'info'"></span>
                <span class="pficon-layered" ng-show="notification.type == 'danger'">
                    <span class="pficon pficon-error-octagon"></span>
                    <span class="pficon pficon-error-exclamation"></span>
                </span>
                <span class="pficon-layered" ng-show="notification.type == 'warning'">
                    <span class="pficon pficon-warning-triangle"></span>
                    <span class="pficon pficon-warning-exclamation"></span>
                </span>
      <strong>{{notification.header}}</strong> {{notification.message}}
    </div>
  </div>

  <div ng-show="app.havePendingRequests()">
    <div class="alert alert-info">
      <span class="pficon spinner spinner-sm spinner-inline"></span>
      <strong>Processing...</strong>
    </div>
  </div>

</div>


<nav class="navbar navbar-default navbar-pf ng-cloak" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ng-link="home">
      <img type="image/svg+xml" src="img/brand.svg" alt="AeroGear UnifiedPush Server" width="auto" height="10px" />
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li class="dropdown" dropdown ng-if="app.warnings.length">
        <a href dropdown-toggle>
          <span class="pficon pficon-info"></span>
          Warnings: <strong>{{ app.warnings.length }}</strong>
        </a>
        <div class="dropdown-menu infotip bottom-right">
          <div class="arrow"></div>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="warning in app.warnings">
              <span class="i pficon-layered">
                  <span class="pficon pficon-warning-triangle"></span>
                  <span class="pficon pficon-warning-exclamation"></span>
              </span>
              <a href ng-link="appDetail({app: warning.applicationID, tab: 'activity'})">Push Problem for Variant <strong>{{ warning.variant.name }}</strong></a>
            </li>
          </ul>
          <!--<div class="footer"><a href="#">Clear Warnings</a></div>-->
        </div>
      </li>
      <li class="dropdown" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
          <span class="pficon pficon-user"></span>
          {{ app.username }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href ng-click="app.goToAccountManagement()">Account management</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href ng-click="app.logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
  </div>
</nav>


<ng-viewport ng-controller="RouteController"></ng-viewport>

<!-- build:js({.tmp,app}) scripts/jquery.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->

<!-- build:js scripts/modules.js -->
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="scripts/external/angular.router.es5.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>

<script src="bower_components/patternfly/dist/js/patternfly.js"></script>
<script src="bower_components/angular-patternfly/dist/angular-patternfly.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ng-idle/angular-idle.js"></script>

<script src="bower_components/patternfly/components/c3/c3.js"></script>
<script src="bower_components/patternfly/components/d3/d3.js"></script>
<script src="bower_components/angular-c3/dist/c3-chart.js"></script>

<script src="bower_components/google-code-prettify/bin/prettify.min.js"></script>
<script src="bower_components/zeroclipboard/dist/ZeroClipboard.min.js"></script>
<script src="bower_components/ng-clip/src/ngClip.js"></script>
<!-- endbuild -->

<script src="/auth/js/keycloak.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/$resourceDecorator.js"></script>
<script src="scripts/routes.js"></script>

<script src="scripts/controllers/AppController.js"></script>
<script src="scripts/controllers/IdleController.js"></script>

<script src="components/home/home.js"></script>
<script src="components/welcome/welcome.js"></script>
<script src="components/bootstrap/bootstrap.js"></script>
<script src="components/app-detail/app-detail.js"></script>
<script src="components/app-detail/include/sender.js"></script>
<script src="components/app-detail/include/variants.js"></script>
<script src="components/app-detail/include/variantDetail.js"></script>
<script src="components/app-detail/include/activity.js"></script>
<script src="components/app-detail/include/analytics.js"></script>
<script src="components/wizard01-create-app/wizard01-create-app.js"></script>
<script src="components/wizard02-add-variant/wizard02-add-variant.js"></script>
<script src="components/wizard03-register-device/wizard03-register-device.js"></script>
<script src="components/wizard04-send-push-notification/wizard04-send-push-notification.js"></script>
<script src="components/wizard05-setup-sender/wizard05-setup-sender.js"></script>
<script src="components/links-check/links-check.js"></script>

<script src="scripts/services/appModal.js"></script>
<script src="scripts/services/variantModal.js"></script>
<script src="scripts/services/contextProvider.js"></script>
<script src="scripts/services/errorReporting.js"></script>

<script src="scripts/directives.js"></script>

<script src="scripts/endpoints/applicationsEndpoint.js"></script>
<script src="scripts/endpoints/variantsEndpoint.js"></script>
<script src="scripts/endpoints/installationsEndpoint.js"></script>
<script src="scripts/endpoints/messageSenderEndpoint.js"></script>
<script src="scripts/endpoints/metricsEndpoint.js"></script>
<script src="scripts/endpoints/dashboardEndpoint.js"></script>
<script src="scripts/endpoints/importerEndpoint.js"></script>
<script src="scripts/endpoints/exporterEndpoint.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/keycloak-init.js -->
<script src="scripts/keycloak-init.js"></script>
<!-- endbuild -->

<!-- build:js scripts/templates.js -->
<!-- endbuild -->



</body>
</html>
