<ups-navigation current="applications"></ups-navigation>

<div class="col-md-10 lo-main-pane ng-scope">
    <div class="row">
        <div class="lo-content-area col-md-12">
            <div ups-breadcrumb/>
            <div>
                <ups-alerts />
            </div>
            <p>
            <h1>Send notifications to"{{ application.name }}"</h1>
            <strong>Variants</strong> All <a href="#"> Change...</a>
            </p>
            <p>
            <strong>Message</strong>  <input type="text" id="testMessage" class="form-control"  ng-model="testMessage">
            </p>

            <p>
                <strong>Aliases</strong></p>
             <p>   <strong>Device Type</strong>   </p>
             <p>   <strong>Categories</strong> </p>

            <button ng-click="sendMessage()" class="btn btn-default btn-lg"  type="button">Send Notification...</button>


        </div>
    </div>
</div>