<ups-navigation current="send"></ups-navigation>

<div class="col-md-10 lo-main-pane ng-scope">
  <div class="row">
    <div class="lo-content-area col-md-12">
      <div ups-breadcrumb/>
      <h2>Select application to send to</h2>
      <br>

      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="select">Application</label>

          <div class="col-sm-10">
            <select class="form-control" id="select" ng-model="application" ng-options="app.name for app in applications">
              <option value="">-- choose application --</option>
            </select>
          </div>
        </div>
        <div class="pull-right">
          <button ng-click="setApplication(application)" class="btn btn-primary btn-lg" type="button">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
