<div class="col-md-10 lo-main-pane ng-scope">
    <div class="row">
        <div class="lo-content-area col-md-12">
            <div ups-breadcrumb/>

            <div class="lo-page-info">
                <p ng-show="application.description.length"><em>&ldquo;{{ application.description }}&rdquo;</em></p>
                <div style="clear: both;"></div>
            </div>

            <div class="ups-tip-panel">
                <div class="ups-tip-panel-illustration"></div>
                <div class="ups-tip-panel-body">
                    <h2>Sending push notifications
                        <div class="pull-right dropdown">
                            <a href="#/example/{{application.pushApplicationID}}/send" class="ups-tip-panel-link">Example implementation</a>

                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-cog"></i> <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a role="menuitem" ng-click="renewMasterSecret()">Renew Master Secret...</a></li>
                            </ul>
                        </div>
                    </h2>
                    <table>
                        <tr>
                            <td>Server URL:</td>
                            <td class="ups-snippet">{{ currentLocation }}</td>
                        </tr>
                        <tr>
                            <td>Application ID:</td>
                            <td class="ups-snippet">{{ application.pushApplicationID }}</td>
                        </tr>
                        <tr>
                            <td>Master Secret:</td>
                            <td class="ups-snippet">{{ application.masterSecret }}</td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both;"></div>
            </div>

            <h2>Variants</h2>

            <div class="lo-page-info">
                <p>
                    You have <ups-pluralize noun="variant" count="application.androidVariants.length + application.iosvariants.length + application.chromePackagedAppVariants.length + application.simplePushVariants.length"></ups-pluralize>.
                </p>
                <div class="pull-right">
                    <button class="btn btn-primary btn-lg" type="button" ng-click="addVariant()">Add Variant</button>
                </div>

                <div style="clear: both;"></div>
            </div>

            <div class="panel lo-panel ups-panel-variants android" ng-if="application.androidVariants.length != 0">
                <div class="panel-heading">
                    <div class="pull-left"><h2>Android</h2></div>
                    <div class="pull-right">
                        <ups-pluralize noun="installation" count="counts.android" ></ups-pluralize>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <variants variants="application.androidVariants" counts="counts" type="android"></variants>
            </div>
            <div class="panel lo-panel ups-panel-variants ios" ng-if="application.iosvariants.length != 0">
                <div class="panel-heading">
                    <div class="pull-left"><h2>iOS</h2></div>
                    <div class="pull-right">
                        <ups-pluralize noun="installation" count="counts.ios" ></ups-pluralize>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <variants variants="application.iosvariants" counts="counts" type="iOS"></variants>
            </div>

            <div class="panel lo-panel ups-panel-variants chrome" ng-if="application.chromePackagedAppVariants.length != 0">
                <div class="panel-heading">
                    <div class="pull-left"><h2>Chrome</h2></div>
                    <div class="pull-right">
                        <ups-pluralize noun="installation" count="counts.chromePackagedApp" ></ups-pluralize>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <variants variants="application.chromePackagedAppVariants" counts="counts" type="chrome"></variants>
            </div>

            <div class="panel lo-panel ups-panel-variants simplepush" ng-if="application.simplePushVariants.length != 0">
                <div class="panel-heading">
                    <div class="pull-left"><h2>SimplePush</h2></div>
                    <div class="pull-right">
                        <ups-pluralize noun="installation" count="counts.simplePush" ></ups-pluralize>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <variants variants="application.simplePushVariants" counts="counts" type="simplePush"></variants>
            </div>

        </div>
    </div>
</div>
