<div class="col-md-10 lo-main-pane ng-scope">
    <div class="row">
        <div class="lo-content-area col-md-12">
            <div ups-breadcrumb/>

            <h1>Example:
                <span ng-hide="exampleCtrl.variantType != 'send'">Sending push notifications</span>
                <span ng-show="exampleCtrl.variantType != 'send'">Register devices for receiving notifications</span>
            </h1>

            <p ng-hide="exampleCtrl.variantType != 'send'">Make your backend server send push notifications through this UnifiedPush Server.</p>

            <p ng-show="exampleCtrl.variantType != 'send'">Use the code snippet bellow to register your device and allow it to receiving notifications through this UnifiedPush Server.</p>

            <tabset class="ups-code-examples">
                <tab heading="Simple push" ng-hide="exampleCtrl.variantType != 'simplePush'" active="exampleCtrl.tab('simplePush').active">
                    <div class="ups-code-block js" hljs compile="true">
(function() {
     var endpoint, endpointRequest, SPClient, UPClient;

     // config params for UnifiedPush server
     var variantId = "{{ exampleCtrl.variant.variantID }}";
     var variantSecret = "{{ exampleCtrl.variant.secret }}";
     var unifiedPushUrl = "{{ exampleCtrl.currentLocation }}";

      // If your SimplePush Server is running on Openshift, the URL is {{ exampleCtrl.simplePushUrl() }}
      // If your SimplePush Server is using Mozilla's network, the URL will be wss://push.services.mozilla.com
      // or do you run a custom server?
     var simplePushUrl = "[URL of the SimplePush Server you are using]";

      // create the 'UnifiedPush' client object:
     UPClient = AeroGear.UnifiedPushClient(variantId, variantSecret, unifiedPushUrl);

     // onConnect callback function called when SimplePush
     // successfully establishes connection to the server
     function spConnect() {

         // use 'PushManager' to request a new PushServer URL endpoint for 'Mail' notifications:
         endpointRequest = navigator.push.register();
          // the DOMRequest returns 'successfully':
         endpointRequest.onsuccess = function( event ) {
             // extract the endpoint object from the event:
             endpoint = event.target.result;

             // if it is the first registration, need to register
             // the 'pushEndpoint' with the UnifiedPush server.
             if ( endpoint ) {
                 // assemble the metadata for registration with the UnifiedPush server
                 var metadata = {
                     deviceToken: endpoint
                 };

                 var settings = {
                     success: function() {
                        //success handler
                     },
                     error: function() {
                        //error handler
                     }
                 };

                 settings.metadata = metadata;

                 // register with the server
                 UPClient.registerWithPushServer(settings);
             } else {
                 console.log("'Endpoint' was already registered!");
             }
         };
         // set the notification handler:
         navigator.setMessageHandler( "push", function( message ) {
             if ( message.pushEndpoint === endpoint ) {
                 // let's react on the endpoint
             }
         });
     }

     // onClose callback function:
     function spClose() {
         // handle onclose - e.g. allow reconnect
     }

     SPClient = AeroGear.SimplePushClient({
         simplePushServerURL: simplePushUrl,
         onConnect: spConnect,
         onClose: spClose
    });
 })();
                    </div>
                </tab>
                <tab heading="Android" ng-hide="exampleCtrl.variantType != 'android'" active="exampleCtrl.tab('android').active" ng-click="exampleCtrl.tab('android').active = true">
 <div class="ups-code-block java" hljs compile="true">
package com.push.pushapplication;

import org.jboss.aerogear.android.core.Callback;
import org.jboss.aerogear.android.unifiedpush.PushRegistrar;
import org.jboss.aerogear.android.unifiedpush.RegistrarManager;
import org.jboss.aerogear.android.unifiedpush.gcm.AeroGearGCMPushConfiguration;

import android.app.Application;

public class PushApplication extends Application {

    private final String TAG = PushApplication.class.getName();

    private final String VARIANT_ID       = "{{ exampleCtrl.variant.variantID }}";
    private final String SECRET           = "{{ exampleCtrl.variant.secret }}";
    private final String GCM_SENDER_ID    = "{{ exampleCtrl.variant.projectNumber }}";
    private final String UNIFIED_PUSH_URL = "{{ exampleCtrl.currentLocation }}";

    @Override
    public void onCreate() {
        super.onCreate();

        try {

            RegistrarManager.config("register", AeroGearGCMPushConfiguration.class)
                    .setPushServerURI(new URI(UNIFIED_PUSH_URL))
                    .setSenderIds(GCM_SENDER_ID)
                    .setVariantID(VARIANT_ID)
                    .setSecret(SECRET)
                    .asRegistrar();

            PushRegistrar registrar = RegistrarManager.getRegistrar("register");
            registrar.register(getApplicationContext(), new Callback<Void>() {
                @Override
                public void onSuccess(Void data) {
                    Log.i(TAG, "Registration Succeeded!");
                }

                @Override
                public void onFailure(Exception e) {
                    Log.e(TAG, exception.getMessage(), exception);
                }
            });

        } catch (IllegalArgumentException e) {
            throw new RuntimeException(e);
        } catch (URISyntaxException e) {
            throw new RuntimeException(e);
        }
    }
}
</div>
                </tab>
                <tab heading="iOS - Objective-C" ng-hide="exampleCtrl.variantType != 'ios'" active="exampleCtrl.tab('ios').active" ng-click="exampleCtrl.tab('ios').active = true">
                    <div class="ups-code-block" hljs compile="true" language="objectivec" include="'objectivec'"></div>
                    <script type="text/ng-template" id="objectivec">
- (void)application:(UIApplication *)application
 didRegisterForRemoteNotificationsWithDeviceToken:(NSData *)deviceToken {
   NSLog(@"APNS Success");

   AGDeviceRegistration *registration =
     [[AGDeviceRegistration alloc] initWithServerURL:
        [NSURL URLWithString:@"{{ exampleCtrl.currentLocation }}"]];

   [registration registerWithClientInfo:^(id clientInfo) {

     // apply the token, to identify this device
     [clientInfo setDeviceToken:deviceToken];

     [clientInfo setVariantID:@"{{ exampleCtrl.variant.variantID }}"];
     [clientInfo setVariantSecret:@"{{ exampleCtrl.variant.secret }}"];

     // --optional config--
     // set some 'useful' hardware information params
     UIDevice *currentDevice = [UIDevice currentDevice];
     [clientInfo setOperatingSystem:[currentDevice systemName]];
     [clientInfo setOsVersion:[currentDevice systemVersion]];
     [clientInfo setDeviceType: [currentDevice model]];

     } success:^() {
       NSLog(@"UPS registration worked");

     } failure:^(NSError *error) {
       NSLog(@"UPS registration Error: %@", error);
   }];
 }
                  </script>

                </tab>
                <tab heading="iOS - Swift" ng-hide="exampleCtrl.variantType != 'ios'" active="exampleCtrl.tab('iOSSwift').active" ng-click="exampleCtrl.tab('iOSSwift').active = true">
                    <div class="ups-code-block" hljs compile="true" language="objectivec" include="'swift'"></div>
                    <script type="text/ng-template" id="swift">
func application(application: UIApplication!, didRegisterForRemoteNotificationsWithDeviceToken deviceToken: NSData!) {
    println("APNS Success")

    let registration = AGDeviceRegistration(serverURL: NSURL(string: "{{ exampleCtrl.currentLocation }}"))

    registration.registerWithClientInfo({ (clientInfo: AGClientDeviceInformation!)  in

        // apply the token, to identify this device
        clientInfo.deviceToken = deviceToken

        clientInfo.variantID = "{{ exampleCtrl.variant.variantID }}"
        clientInfo.variantSecret = "{{ exampleCtrl.variant.secret }}"

        // --optional config--
        // set some 'useful' hardware information params
        let currentDevice = UIDevice()
        clientInfo.operatingSystem = currentDevice.systemName
        clientInfo.osVersion = currentDevice.systemVersion
        clientInfo.deviceType = currentDevice.model

    }, success: {
        println("UPS registration worked");

    }, failure: { (error:NSError!) -> () in
        println("UPS registration Error: \(error.localizedDescription)")
    })
}
                    </script>

                </tab>
              <tab heading="Amazon - FireOS" ng-hide="exampleCtrl.variantType != 'adm'" active="exampleCtrl.tab('adm').active" ng-click="exampleCtrl.tab('adm').active = true">
                <div class="ups-code-block java" hljs compile="true"  include="'adm'"></div>
                <script type="text/ng-template" id="adm">
                 //TODO Will be filled in once the client SDK is there
                </script>

              </tab>
              <tab heading="Cordova" ng-hide="exampleCtrl.variantType == 'simplePush' || exampleCtrl.variantType == 'send'" active="exampleCtrl.tab('cordova').active" ng-click="exampleCtrl.tab('cordova').active = true">
                    <div class="ups-code-block js" hljs compile="true">
var app = {
    // Application Constructor
    initialize: function() {
        this.bindEvents();
    },
    // Bind Event Listeners
    //
    // Bind any events that are required on startup. Common events are:
    // 'load', 'deviceready', 'offline', and 'online'.
    bindEvents: function() {
        document.addEventListener('deviceready', this.onDeviceReady, false);
    },
    // deviceready Event Handler
    //
    // The scope of 'this' is the event. In order to call the 'receivedEvent'
    // function, we must explicitly call 'app.receivedEvent(...);'
    onDeviceReady: function() {
        app.receivedEvent('deviceready');
        var pushConfig = {
           pushServerURL: "{{ exampleCtrl.currentLocation }}",
           {{ exampleCtrl.cordovaVariantType(exampleCtrl.variant) }}: {
              {{ exampleCtrl.projectNumber(exampleCtrl.variant) }}
              variantID: "{{ exampleCtrl.variant.variantID }}",
              variantSecret: "{{ exampleCtrl.variant.secret }}"
           }
        };
        push.register(app.onNotification, successHandler, errorHandler, pushConfig);

        function successHandler() {
            console.log('success')
        }

        function errorHandler(message) {
            console.log('error ' + message);
        }
    },
    onNotification: function(event) {
        alert(event.alert);
    },
    // Update DOM on a Received Event
    receivedEvent: function(id) {
        var parentElement = document.getElementById(id);
        var listeningElement = parentElement.querySelector('.listening');
        var receivedElement = parentElement.querySelector('.received');

        listeningElement.setAttribute('style', 'display:none;');
        receivedElement.setAttribute('style', 'display:block;');

        console.log('Received Event: ' + id);
    }
};

app.initialize();
                    </div>
<br>
<p ng-show="exampleCtrl.variantType != 'send'">It's also possible to use an external config file named <b>push-config.json</b> and placed in the root of your <b>www</b> folder :</p>
<br>
                    <div class="ups-code-block">
<pre>
<code>
// ../www/push-config.json
{
  "pushServerURL": "{{ exampleCtrl.currentLocation }}",
  "{{ exampleCtrl.cordovaVariantType(exampleCtrl.variant) }}" : {
    {{ exampleCtrl.projectNumberJson(exampleCtrl.variant) }}
    "variantID": "{{ exampleCtrl.variant.variantID }}",
    "variantSecret": "{{ exampleCtrl.variant.secret }}"
  }
}
</code>
</pre>
                    </div>
<br>
And then :
<br>
                   <div class="ups-code-block js" hljs compile="true">
var app = {
  // Application Constructor
  initialize: function() {
      this.bindEvents();
  },
  // Bind Event Listeners
  //
  // Bind any events that are required on startup. Common events are:
  // 'load', 'deviceready', 'offline', and 'online'.
  bindEvents: function() {
      document.addEventListener('deviceready', this.onDeviceReady, false);
  },
  // deviceready Event Handler
  //
  // The scope of 'this' is the event. In order to call the 'receivedEvent'
  // function, we must explicitly call 'app.receivedEvent(...);'
  onDeviceReady: function() {
      app.receivedEvent('deviceready');
      push.register(app.onNotification, successHandler, errorHandler);

      function successHandler() {
          console.log('success')
      }

      function errorHandler(message) {
          console.log('error ' + message);
      }
  },
  onNotification: function(event) {
      alert(event.alert);
  },
  // Update DOM on a Received Event
  receivedEvent: function(id) {
      var parentElement = document.getElementById(id);
      var listeningElement = parentElement.querySelector('.listening');
      var receivedElement = parentElement.querySelector('.received');

      listeningElement.setAttribute('style', 'display:none;');
      receivedElement.setAttribute('style', 'display:block;');

      console.log('Received Event: ' + id);
  }
};

app.initialize();
                    </div>

                </tab>

                <tab heading="Sending" ng-hide="exampleCtrl.variantType != 'send'" active="exampleCtrl.tab('send').active" ng-click="exampleCtrl.tab('send').active = true">
                    <div class="ups-code-block java" hljs compile="true">
JavaSender defaultJavaSender = new SenderClient.Builder("{{ exampleCtrl.currentLocation }}").build();
UnifiedMessage unifiedMessage = new UnifiedMessage.Builder()
        .pushApplicationId("{{ exampleCtrl.applicationId }}")
        .masterSecret("{{ exampleCtrl.application.masterSecret }}")
        .alert("Hello from Java Sender API!")
        .build();
defaultJavaSender.send(unifiedMessage, new MessageResponseCallback() {

    @Override
    public void onComplete(int statusCode) {
        //do cool stuff
    }

    @Override
    public void onError(Throwable throwable) {
        //bring out the bad news
    }
});
                    </div>
                </tab>

                <tab heading="C#" ng-hide="exampleCtrl.variantType != 'windows_wns'" active="exampleCtrl.tab('windows_wns').active" ng-click="exampleCtrl.tab('windows_wns').active = true">
                    <div class="ups-code-block csharp" hljs compile="true">
using AeroGear.Push;

protected async override void OnLaunched(LaunchActivatedEventArgs e)
{
  PushConfig pushConfig = new PushConfig() { UnifiedPushUri = new Uri("{{ exampleCtrl.currentLocation }}"), VariantId = "{{ exampleCtrl.variant.variantID }}", VariantSecret = "{{ exampleCtrl.variant.secret }}" };
  Registration registration = new WnsRegistration();
  registration.PushReceivedEvent += HandleNotification;
  await registration.Register(pushConfig);

  ...
}

void HandleNotification(object sender, PushReceivedEvent e)
{
  Debug.WriteLine("notification received {0}", e.Args.message);
}

                    </div>
                </tab>
                <tab heading="C#" ng-hide="exampleCtrl.variantType != 'windows_mpns'" active="exampleCtrl.tab('windows_mpns').active" ng-click="exampleCtrl.tab('windows_mpns').active = true">
                    <div class="ups-code-block csharp" hljs compile="true">
using AeroGear.Push;

protected async override void OnLaunched(LaunchActivatedEventArgs e)
{
  PushConfig pushConfig = new PushConfig() { UnifiedPushUri = new Uri("{{ exampleCtrl.currentLocation }}"), VariantId = "{{ exampleCtrl.variant.variantID }}", VariantSecret = "{{ exampleCtrl.variant.secret }}" };
  Registration registration = new MpnsRegistration();
  registration.PushReceivedEvent += HandleNotification;
  await registration.Register(pushConfig);

  ...
}

void HandleNotification(object sender, PushReceivedEvent e)
{
  Debug.WriteLine("notification received {0}", e.Args.message);
}

                    </div>
                </tab>

            </tabset>

        </div>
    </div>
</div>
