<?xml version="1.0" encoding="UTF-8"?>
<!--

    JBoss, Home of Professional Open Source
    Copyright Red Hat, Inc., and individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    	http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <filter>
        <filter-name>PasswordHandler</filter-name>
        <filter-class>org.jboss.aerogear.security.token.filter.PasswordHandler</filter-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>http://push-sblanc.rhcloud.com/</param-value>
        </init-param>
        <init-param>
            <param-name>redirect-page</param-name>
            <param-value>/</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>PasswordHandler</filter-name>
        <url-pattern>/reset/*</url-pattern>
        <url-pattern>/forgot/*</url-pattern>
    </filter-mapping>

    <!-- HttpOnly flag is an additional flag that is used to prevent an XSS -->
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
</web-app>
