@import "patternfly/less/patternfly";

@font-path:      "../fonts";
@fa-font-path:   "../fonts";
@icon-font-path: "../fonts";
@ups-font-path:  "../fonts/";

#kc-logo-wrapper {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: top right;

    height: 65px;

    margin: 100px;
}
