<!--The Application Template-->
<div class="topcoat-navigation-bar top-header">
    <div class="topcoat-navigation-bar__item left half">
        <h1 class="topcoat-navigation-bar__title"><strong>AeroGear</strong> UnifiedPush Server (0.10.1)</h1>
    </div>
     <div class="topcoat-navigation-bar__item right half">
         <span {{bind-attr class="controllers.login.isLogged::hidden"}}><a href="#" {{ action logout target="controllers.login" }} >Log out</a></span>
     </div>
</div>
{{outlet error}}
{{outlet}}
