<!--The Application Template-->
<div class="topcoat-navigation-bar top-header">
    <div class="topcoat-navigation-bar__item left half">
        <h1 class="topcoat-navigation-bar__title"><strong>AeroGear</strong> UnifiedPush Server (0.9.0)</h1>
    </div>
</div>
{{outlet error}}
{{outlet}}
