<!--The Application Template-->
<div class="topcoat-navigation-bar top-header">
    <div class="topcoat-navigation-bar__item left half">
        <h1 class="topcoat-navigation-bar__title"><strong>AeroGear</strong> Unified Push Server</h1>
    </div>
</div>
{{outlet error}}
{{outlet}}
<footer>
    <a href="http://aerogear.org/docs"/>Documentation</a> -
    <a href="http://github.com/aerogear" target="_blank"/>Contribute</a> -
    <a href="http://issues.jboss.org/browse/AEROGEAR" target="_blank">Report issues</a> -
    <a href="https://lists.jboss.org/mailman/listinfo/aerogear-dev" target="_blank"/>Join mailing list</a> -
    <a href="irc://irc.freenode.net/aerogear" target="_blank"/>Chat with the team</a>
    <div class="clearfix"></div>
    <div class="logos">
        <p>AeroGear is a <a href="http://www.jboss.org/">JBoss Community</a> project and its development is
            sponsored by <a href="http://www.redhat.com/">Red Hat, Inc</a>. Project code is released under the <a
                    href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License, v2.0</a>.
        </p>
        <p><a href="http://www.jboss.org/"><img src="img/jboss_community.png" alt="JBoss Community"></a> <a
                href="http://www.redhat.com/"><img src="img/red_hat.png" alt="Red Hat"></a></p>
        <p>Copyright &copy; 2013, Red Hat, Inc.</p>
    </div>
</footer>
